<div class="row">
  <%= form_for :user, url: password_reset_path(reset_password_token: params[:token]), method: :post, html: {class: "js-validation-signin px-30"} do |f| %>
    <%= hidden_field :user, :reset_password_token, value: params[:token] %>
    <div class="form-group row">
      <div class="col-12">
        <div class="form-material floating">
          <%= f.password_field :password, class: "form-control", id: "lock-password", name: "user[password]", required: true %>
          <%= f.label :password, 'Password' %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.button :submit, class: "btn btn-sm btn-hero btn-alt-danger" do %>
        <i class="fa fa-sign-in mr-10"></i> Unlock
      <% end %>
    </div>
  <%end%>
</div>